@font-face {
    font-family: 'Sofia Pro Bold';
    src: url('../fonts/Sofia-Pro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Sofia Pro Regular';
    src: url('../fonts/Sofia-Pro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Sofia Pro Light';
    src: url('../fonts/Sofia-Pro-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Sofia Pro SemiBold';
    src: url('../fonts/Sofia-Pro-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Sofia Pro Medium';
    src: url('../fonts/Sofia-Pro-Medium.otf') format('opentype');
}

body {
    font-family: 'Sofia Pro Regular', sans-serif;
}